<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>{{ rec.page.title }}</title>

            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link rel="icon" href="img/icon.png"/>
        </head>
    {% endblock %}
    <body>
        {% block navbar %}
            <!-- NavBar -->
            {{ include('navbar.twig') }}
            <!-- NavBar end -->
        {% endblock %}

        {% block content %}
            <!-- Content -->
            {{ include('container.twig') }}
            <!-- End Content-->
            {% if rec.page.config.getEnableDebug %}
                <!-- Debug area -->
                {{ include('debug/debugArea.twig') }}
                <!-- End debug area-->
            {% endif %}
        {% endblock %}

        {% block footer %}
            {{ include('footer.twig') }}
        {% endblock %}

        <!--  Scripts-->
        <script src="libs/jquery/jquery.min.js"></script>
        <script src="libs/materialize/js/materialize.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
